<div class="max-w space-y-4">
  <label class="block text-xl font-medium text-gray-700">Sort by</label>
  <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
    <ul class="space-y-2 font-medium">
      <li *ngFor="let sort of sortByList; trackBy: trackById" class="cursor-pointer">
        <a class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <!-- Render icon SVG from SafeHtml -->
          <span [innerHTML]="sort.iconSvg"></span>
          <span class="ms-3">{{ sort.name }}</span>
        </a>
      </li>
    </ul>
  </div>
</div>