<div class="my-4">
    <label class="font-medium">Product Price</label>
    <div class="max-w my-4 h-auto" [formGroup]="priceForm">
        <input type="number" appOnlyNumber formControlName="price"
            class="[appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none w-full my-2 block outline-none p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Set product price" />
             <small *ngIf="priceForm.get('price')?.touched && priceForm.get('price')?.value === null" class="text-red-700">Price is
                required.</small>
            <small *ngIf="priceForm.get('price')?.errors?.['min']" class="text-red-700">Price must be positive.</small>
            <small *ngIf="priceForm.get('price')?.errors?.['max']" class="text-red-700">Price cannot exceed 1000000</small>
    </div>
</div>