<div [formGroup]="form">
  <div formArrayName="attributeWithValue">
    <div
      *ngFor="let ctrl of attributes.controls; let i = index; trackBy: trackByIndex"
      [formGroupName]="i"
      class="flex items-center space-x-4 mb-3"
    >
      <select
        formControlName="attributeId"
        (change)="addAttribute()"
        class="border rounded px-3 py-2 flex-shrink-0"
      >
        <option [ngValue]="null" disabled>Select attribute</option>
        <option
          *ngFor="let opt of lookups"
          [ngValue]="opt.id"
          [disabled]="isDisabledAttribute(i, opt.id) && opt.id !== ctrl.value.attributeId"
        >
          {{ opt.name }}
        </option>
      </select>

      <input
        formControlName="attributeValue"
        type="text"
        placeholder="Enter value (max 10 chars)"
        class="flex-1 border rounded px-3 py-2"
      />

      <button
        type="button"
        (click)="removeAttribute(i)"
        class="text-white bg-red-600 hover:bg-red-800 rounded px-3 py-1"
      >
        &times;
      </button>
    </div>
  </div>

  <button
    type="button"
    (click)="addAttribute()"
    [disabled]="!canAddNewRow"
    class="mt-2 bg-green-600 hover:bg-green-800 text-white rounded px-4 py-2 disabled:opacity-50"
  >
    + Add another attribute
  </button>
</div>
