<div class="w-max flex align">
    <form [formGroup]="createRoleForm" (ngSubmit)="onAddRoles()">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="min-w-100 text-xs text-white uppercase bg-gray-700 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Role name
                </th>
                <th scope="col" class="px-6 py-3">
                    Role Description
                </th>
                <th scope="col" class="px-6 py-3">
                    Select Permissions For Role
                </th>
                <th scope="col" class="px-6 py-3">
                    Add Role
                </th>
            </tr>
        </thead>
        <tbody>
            <tr 
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <div>
                        <label class="text-gray-800 text-sm mb-2 block">Role Name</label>
                        <input formControlName="roleName" name="name" type="text"
                            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Enter role name" />
                        <div *ngIf="createRoleForm.get('roleName')?.invalid &&createRoleForm.get('roleName')?.touched">
                            <small *ngIf="createRoleForm.get('roleName')?.errors?.['required']" class="text-red-700">Role
                                name is
                                required.</small>
                            <small *ngIf="createRoleForm.get('roleName')?.errors?.['maxlength']" class="text-red-700">Role
                                name cannot too long.</small>
                            <small *ngIf="createRoleForm.get('roleName')?.errors?.['minlength']" class="text-red-700">Role
                                    name cannot too short.</small>
                        </div>
                    </div>
                </th>
                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <div>
                        <label class="text-gray-800 text-sm mb-2 block">Role Name</label>
                        <input formControlName="roleDescription" name="roleDescription" type="text"
                            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Enter role name" />
                        <div *ngIf="createRoleForm.get('roleDescription')?.invalid &&createRoleForm.get('roleDescription')?.touched">
                            <small *ngIf="createRoleForm.get('roleDescription')?.errors?.['required']" class="text-red-700">Role
                                name is
                                required.</small>
                            <small *ngIf="createRoleForm.get('roleDescription')?.errors?.['maxlength']" class="text-red-700">Role
                                name cannot too long.</small>
                            <small *ngIf="createRoleForm.get('roleDescription')?.errors?.['minlength']" class="text-red-700">Role
                                    name cannot too short.</small>
                        </div>
                    </div>
               </td>
                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <!-- {{selectedAdmin?.status}} -->
                    <label class="text-gray-800 text-sm mb-2 block">Select Permissions for Role</label>
                     <app-multi-select [options]="allPermissions" (selectionChange)="onPermissionChange($event)">
                    </app-multi-select>
                </td>
                <td class="px-6   py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <!-- <a> -->
                    <div class="flex w-max gap-2">
                        <button  type="submit" (ngSubmit)="onAddRoles()" 
                            class="py-3.5 mr-2 px-7 text-sm font-semibold tracking-wider rounded-md text-white bg-gray-600 focus:outline-none">
                            Add Role
                        </button>
                    </div>
                    <!-- </a> -->
                </td>
            </tr>
        </tbody>
    </table>
    </form>
</div>